.az-template-default
    .container
        background-color transparent

    .az-logo
        img
            width 150px

.az-toolbar
    .search
        top 5px
        width 50%

        .az-search
            .simple-search
                .input-search
                    border-radius 0
                    width 150px !important

            .icon-search
                border-radius 0

            .btn-advanced-search
                border-radius 0

.v-btn, .v-tabs__div
    text-transform initial
    letter-spacing .08rem

.v-expansion-panel__header
    border-bottom: 1px solid #cecece;
    background-color: #f9f9f9;

.az-container-margin-right-menor
    margin-right: 5px;

.az-container-margin-sem-top
    margin-top: 0px;

.az-container-margin-left-menor
    margin-left: 5px;

.tabela-comprimida
    table.v-table tbody td:first-child, table.v-table tbody td, table.v-table tbody th:first-child, table.v-table tbody th, table.v-table thead td:first-child, table.v-table thead td, table.v-table thead th:first-child, table.v-table thead th
        padding: 0 4px !important
