.DS_Store
.idea
.vscode
.target/
.project
.classpath
.settings
.tmp
.env.local
.env.*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.iml

jacoco.exec
target
variables.env
letsencrypt
node_modules

estoka-app/app
estoka-app/dist
estoka-app/package-lock.json
